<% set_page_title(form_title(form_name: @current_context.form.name, page_name: t('privacy.title'), mode: @mode)) %>

<% content_for :back_link do %>
  <% if @back_link.present? %>
    <%= link_to t("forms.back"), @back_link, class: "govuk-back-link" %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t("privacy.heading") %></h1>
    <p><%= t("privacy.preamble.section_0") %></p>
    <p><%= t("privacy.preamble.section_1") %></p>
    <p><%= t("privacy.preamble.section_2", privacy_policy_link: link_to(t("privacy.preamble.section_2_link_text"), @privacy_policy_url)).html_safe %></p>
    <p><%= t("privacy.preamble.section_3") %></p>
    <p><%= t("privacy.preamble.section_4", dppr_link: link_to(t("privacy.preamble.section_4_link_text"), "https://ico.org.uk/ESDWebPages/Entry/Z7414053")).html_safe %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.data_we_collect.heading") %></h2>

    <p><%= t("privacy.data_we_collect.section_0.caption") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("privacy.data_we_collect.section_0.list_item_0") %></li>
      <li><%= t("privacy.data_we_collect.section_0.list_item_1", browsers_link: link_to(t("privacy.data_we_collect.section_0.list_item_1_link_text"), "https://www.gov.uk/help/browsers")).html_safe %></li>
      <li><%= t("privacy.data_we_collect.section_0.list_item_2") %></li>
    </ul>

    <p><%= t("privacy.data_we_collect.section_1.caption") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("privacy.data_we_collect.section_1.list_item_0") %></li>
      <li><%= t("privacy.data_we_collect.section_1.list_item_1") %></li>
      <li><%= t("privacy.data_we_collect.section_1.list_item_2") %></li>
    </ul>

    <p><%= t("privacy.data_we_collect.section_2") %></p>
    <p><%= t("privacy.data_we_collect.section_3") %></p>
    <p><%= t("privacy.data_we_collect.section_4") %></p>
    <p><%= t("privacy.data_we_collect.section_5") %></p>
    <p><%= t("privacy.data_we_collect.section_6") %></p>

    <p><%= t("privacy.data_we_collect.section_7.caption") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("privacy.data_we_collect.section_7.list_item_0") %></li>
      <li><%= t("privacy.data_we_collect.section_7.list_item_1") %></li>
    </ul>

    <p><%= t("privacy.data_we_collect.section_8.caption") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("privacy.data_we_collect.section_8.list_item_0") %></li>
      <li><%= t("privacy.data_we_collect.section_8.list_item_1") %></li>
    </ul>

    <p><%= t("privacy.data_we_collect.section_9") %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.cookies.heading") %></h2>


    <p><%= t("privacy.cookies.section_0", cookies_link: link_to(t("privacy.cookies.section_0_link_text"), cookies_path)).html_safe %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.how_long_we_keep_data.heading") %></h2>

    <p><%= t("privacy.how_long_we_keep_data.section_0.caption") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("privacy.how_long_we_keep_data.section_0.list_item_0") %></li>
      <li><%= t("privacy.how_long_we_keep_data.section_0.list_item_1") %></li>
    </ul>

    <p><%= t("privacy.how_long_we_keep_data.section_1") %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.where_data_is_stored.heading") %></h2>

    <p><%= t("privacy.where_data_is_stored.section_0") %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.how_we_protect_data.heading") %></h2>

    <p><%= t("privacy.how_we_protect_data.section_0") %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.childrens_privacy.heading") %></h2>

    <p><%= t("privacy.childrens_privacy.section_0") %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.what_are_your_rights.heading") %></h2>

    <p><%= t("privacy.what_are_your_rights.section_0.caption") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("privacy.what_are_your_rights.section_0.list_item_0") %></li>
      <li><%= t("privacy.what_are_your_rights.section_0.list_item_1") %></li>
      <li><%= t("privacy.what_are_your_rights.section_0.list_item_2") %></li>
    </ul>

    <p><%= t("privacy.what_are_your_rights.section_1.caption") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("privacy.what_are_your_rights.section_1.list_item_0") %></li>
      <li><%= t("privacy.what_are_your_rights.section_1.list_item_1") %></li>
      <li><%= t("privacy.what_are_your_rights.section_1.list_item_2") %></li>
    </ul>

    <p><%= t("privacy.what_are_your_rights.section_2") %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.changes.heading") %></h2>

    <p><%= t("privacy.changes.section_0") %></p>

    <h2 class="govuk-heading-m"><%= t("privacy.questions_and_complaints.heading") %></h2>

    <p><%= t("privacy.questions_and_complaints.section_0.caption", contact_link: link_to("gds-privacy-office@digital.cabinet-office.gov.uk", "mailto:gds-privacy-office@digital.cabinet-office.gov.uk")).html_safe %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("privacy.questions_and_complaints.section_0.list_item_0") %></li>
      <li><%= t("privacy.questions_and_complaints.section_0.list_item_1") %></li>
    </ul>

    <p>
      <%= t("privacy.questions_and_complaints.section_1.line_0") %>
      <br>
      <%= govuk_link_to "DPO@cabinetoffice.gov.uk", "mailto:DPO@cabinetoffice.gov.uk" %>
      <br>
      <%= t("privacy.questions_and_complaints.section_1.line_1") %>
      <br>
      <%= t("privacy.questions_and_complaints.section_1.line_2") %>
      <br>
      <%= t("privacy.questions_and_complaints.section_1.line_3") %>
      <br>
      <%= t("privacy.questions_and_complaints.section_1.line_4") %>
    </p>

    <p><%= t("privacy.questions_and_complaints.section_2", ico_link: link_to(t("privacy.questions_and_complaints.section_2_link_text"), "https://ico.org.uk/")).html_safe %></p>

    <p>
      <%= t("privacy.questions_and_complaints.section_3.line_0") %>
      <br>
      <%= govuk_link_to "icocasework@ico.org.uk", "mailto:icocasework@ico.org.uk" %>
      <br />
      0303 123 1113
      <br />
      <%= t("privacy.questions_and_complaints.section_3.line_1") %>
      <br />
      <%= t("privacy.questions_and_complaints.section_3.line_2") %>
      <br />
      <%= t("privacy.questions_and_complaints.section_3.line_3") %>
      <br />
      <%= t("privacy.questions_and_complaints.section_3.line_4") %>
    </p>
  </div>
</div>
