<% if @mode.preview? %>
  <p>
    <%= I18n.t("mailer.submission_batch.preview", tag: @mode.tag) %>
  </p>
<% end %>

<p><%= I18n.t("mailer.form_name", form_name: @form_name) %></p>

<% if @filenames.size > 1 %>
  <p><%= I18n.t("mailer.submission_batch.multiple_files_explainer", date: @date) %></p>
<% else %>
  <p><%= I18n.t("mailer.submission_batch.single_file_explainer", date: @date) %></p>
<% end %>

<ul>
  <% @filenames.each do |filename| %>
    <li><%= filename %></li>
  <% end %>
</ul>

<p style="margin: 0 0 20px 0; border-left: 10px solid #B1B4B6; padding: 15px;">
  <%= I18n.t("mailer.check_before_using") %>
</p>

<p><%= I18n.t("mailer.submission_batch.submissions_are_split") %></p>

<p><%= I18n.t("mailer.submission_batch.file_upload_questions") %></p>

<hr style="border: 0; height: 1px; background: #B1B4B6; margin: 30px 0 30px 0;">

<div
  style="margin: 0 0 20px 0; border-left: 10px solid #B1B4B6;
    padding: 15px 0 0.1px 15px; font-size: 19px; line-height: 25px;"
>
  <h2><%= I18n.t("mailer.cannot_reply.heading") %></h2>
  <%= I18n.t("mailer.cannot_reply.contact_form_filler_html").html_safe %>
  <%= I18n.t("mailer.cannot_reply.contact_forms_team_html").html_safe %>
</div>
