<h1 class="govuk-heading-l"><%=  page.question_text %></h1>
<%= form.govuk_text_field :address1, label: { tag: 'h2', size: 'm', text: "Address line 1" } %>
<%= form.govuk_text_field :address2, label: { tag: 'h2', size: 'm', text: "Address line 2"  } %>
<%= form.govuk_text_field :city, label: { tag: 'h2', size: 'm', text: "Town or City"  } %>
<%= form.govuk_text_field :postcode, label: { tag: 'h2', size: 'm', text: "Postcode" } %>
