<% content_for :before_content do %>
  <% if @back_link %>
    <%= link_to "Back", @back_link, class: "govuk-back-link" %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: @question, url: submit_form_page_path(@page.form_id, @page.id, :changing_existing_answer => @changing_existing_answer), scope: :question, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: :post do |form| %>
      <% if @question&.errors&.any? %>
        <%= form.govuk_error_summary %>
      <% end %>
        <%= render :partial => ActiveSupport::Inflector.underscore(@question.model_name.name), :locals => { :page => @page, :form => form } %>
      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
