<h1 class="govuk-heading-l"><%= t('forms.review_file.confirmation.title') %></h1>

<p class="govuk-inset-text">
  <%= question.original_filename %>
</p>

<%= form_with model: @remove_file_input, url: @remove_file_url, method: :delete do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @remove_file_input&.errors.any? %>
        <%= form.govuk_error_summary %>
      <% end %>

      <%= form.govuk_collection_radio_buttons :remove_file,
            @remove_file_input.values, ->(option) { option }, ->(option) { t('helpers.label.remove_file_input.options.' + "#{option}") },
            legend: { text: t('forms.review_file.confirmation.radios_legend')},
            inline: true  %>

      <%= form.govuk_submit  %>
    </div>
  </div>
<% end %>
