<p>
  This is a completed "<%= @mailer_options.title %>" form.
</p>
<p>
  This form was submitted at <%= @mailer_options.timestamp.strftime("%l:%M%P").strip %> on <%= @mailer_options.timestamp.strftime("%-d %B %Y") %>
</p>
<p>
  GOV.​UK Forms reference number: <%= @mailer_options.submission_reference %><br>
</p>
<p style="margin: 0 0 20px 0; border-left: 10px solid #B1B4B6; padding: 15px;">
  <%= I18n.t("mailer.submission.check_before_using") %>
</p>

<hr style="border: 0; height: 1px; background: #B1B4B6; margin: 30px 0 30px 0;">

<%= @answer_content.html_safe %>

<hr style="border: 0; height: 1px; background: #B1B4B6; margin: 30px 0 30px 0;">

<div
  style="margin: 0 0 20px 0; border-left: 10px solid #B1B4B6;
    padding: 15px 0 0.1px 15px; font-size: 19px; line-height: 25px;"
>
  <h2><%= I18n.t("mailer.submission.cannot_reply.heading") %></h2>
  <%= I18n.t("mailer.submission.cannot_reply.contact_form_filler").html_safe %>
  <%= I18n.t("mailer.submission.cannot_reply.contact_forms_team").html_safe %>
</div>
