<% if @submission.preview? %>
  <p>
    <%= I18n.t("mailer.submission.preview") %>
  </p>
<% end %>

<p><%= I18n.t("mailer.form_name", form_name: @submission.form.name) %></p>

<p>
  <%= I18n.t("mailer.submission.time", time: @submission.submission_time.strftime("%l:%M%P").strip, date: @submission.submission_time.strftime("%-d %B %Y") ) %>
</p>
<p>
  <% if @welsh_submission %>
  <%= I18n.t("mailer.submission.welsh_submission") %>
  <% end %>
</p>
<p>
  <%= I18n.t("mailer.submission.reference", submission_reference: @submission.reference) %>
</p>

<% if @submission.payment_url.present? %>
  <p>
    <%= I18n.t("mailer.submission.payment") %>
  </p>
<% end %>

<p style="margin: 0 0 20px 0; border-left: 10px solid #B1B4B6; padding: 15px;">
  <%= I18n.t("mailer.check_before_using") %>
</p>

<hr style="border: 0; height: 1px; background: #B1B4B6; margin: 30px 0 30px 0;">

<h2><%= I18n.t("mailer.submission.answers_submitted") %></h2>

<% if @csv_filename.present? %>
  <p><%= I18n.t("mailer.submission.csv_file", filename: @csv_filename) %></p>
<% end %>

<% if @json_filename.present? %>
  <p><%= I18n.t("mailer.submission.json_file", filename: @json_filename) %></p>
<% end %>

<%= @answer_content_html.html_safe %>

<hr style="border: 0; height: 1px; background: #B1B4B6; margin: 30px 0 30px 0;">

<div
  style="margin: 0 0 20px 0; border-left: 10px solid #B1B4B6;
    padding: 15px 0 0.1px 15px; font-size: 19px; line-height: 25px;"
>
  <h2><%= I18n.t("mailer.cannot_reply.heading") %></h2>
  <%= I18n.t("mailer.cannot_reply.contact_form_filler_html").html_safe %>
  <%= I18n.t("mailer.cannot_reply.contact_forms_team_html").html_safe %>
</div>
