<% set_page_title form_title(form_name: @current_context.form.name, page_name: t('form.submitted.title'), mode: @mode) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "forms/submitted/submitted_panel", locals: {current_context: @current_context, } %>

    <% if @current_context.requested_email_confirmation? %>
      <p><%= t('form.submitted.email_sent') %></p>
    <% end %>

    <%if @current_context.form.what_happens_next_markdown.present? %>
      <h2 class="govuk-heading-m"><%= t('form.submitted.what_happens_next') %></h2>
      <%= HtmlMarkdownSanitizer.new.render_scrubbed_markdown(@current_context.form.what_happens_next_markdown) %>
    <% end %>

    <% if @current_context.form.payment_url.present? && FeatureService.enabled?(:reference_numbers_enabled) && @current_context.get_submission_reference.present? %>
      <%= govuk_button_to(t('form.submitted.continue_to_pay'), @current_context.form.payment_url_with_reference(@current_context.get_submission_reference))%>
    <% end %>
  </div>
</div>
