<% set_page_title(form_title(form_name: @current_context.form.name, page_name: (@step.question.page_heading.present? ? @step.question.page_heading : @step.question.question_text), mode: @mode, error: @step.question&.errors&.any?)) %>

<% content_for :back_link do %>
  <% if @back_link.present? %>
    <%= link_to t("forms.back"), @back_link, class: "govuk-back-link" %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @step.question, url: @save_url, scope: :question, method: :post do |form| %>
      <% if @step.question&.errors&.any? %>
        <%= form.govuk_error_summary(t("error_summary_title")) %>
      <% end %>

      <%= render GuidanceComponent::View.new(@step.question) %>

      <% view_component = Object.const_get("#{@step.question.class.name}Component::View") %>
      <%= render view_component.new(form_builder: form, question: @step.question, extra_question_text_suffix: hidden_text_mode(@mode).html_safe) %>

      <%= form.govuk_submit(t("continue")) %>

    <% end %>

    <% if @step.question.instance_of? Question::File %>
      <%= govuk_details(summary_text: t("question/file.file_requirements.summary")) do %>
        <% t("question/file.file_requirements.body_html") %>
      <% end %>
    <% end %>

    <%= render SupportDetailsComponent::View.new(@support_details) %>
  </div>
</div>
