<% set_page_title(form_title(form_name: @current_context.form.name, page_name: t('form.check_your_answers.title'), mode: @mode)) %>

<% content_for :back_link do %>
  <% if @back_link %>
    <%= link_to t("forms.back"), @back_link, class: "govuk-back-link" %>
  <% end %>
<% end %>

<%= form_with model: email_confirmation_input, url: @form_submit_path do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <% if email_confirmation_input&.errors&.any? %>
        <%= form.govuk_error_summary(t("error_summary_title")) %>
      <% end %>

      <h1 class="govuk-heading-l"><%= t('form.check_your_answers.title') %></h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="<%= @full_width ? 'govuk-grid-column-full' : 'govuk-grid-column-two-thirds-from-desktop' %>">
      <%if @rows %>
        <%= govuk_summary_list(rows: @rows.map { |row|
            { key: row[:key],
              value: { text: format_paragraphs(row[:value][:text].present? ? row[:value][:text] : t('form.check_your_answers.not_completed')) },
              actions: row[:actions]
            } })
          %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= form.govuk_radio_buttons_fieldset(:send_confirmation, legend: { size: 'm', tag: 'h2' }) do %>
        <%= form.govuk_radio_button :send_confirmation, 'send_email', link_errors: :true do %>
          <%= form.govuk_email_field :confirmation_email_address, autocomplete: 'email', spellcheck: false  %>
        <% end %>
        <%= form.govuk_radio_button :send_confirmation, 'skip_confirmation' %>
      <% end %>

      <%= form.hidden_field :confirmation_email_reference, id: 'confirmation-email-reference' %>

      <%if @current_context.form.declaration_text.present? %>
        <h2 class="govuk-heading-m govuk-!-margin-top-7"><%= t('form.check_your_answers.declaration') %></h2>
        <%= HtmlMarkdownSanitizer.new.render_scrubbed_html(@current_context.form.declaration_text) %>
      <% end %>

      <%= form.govuk_submit(@current_context.form.declaration_text.present? ? t('form.check_your_answers.agree_and_submit') : t('form.check_your_answers.submit')) %>
    </div>


  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render SupportDetailsComponent::View.new(@support_details) %>
    </div>
  </div>
<% end %>
