<% set_page_title(t('accessibility_statement.title'), t("gov_uk_forms")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%=t('accessibility_statement.heading')%></h1>
    <p><%=t('accessibility_statement.preamble')%></p>

    <p class="govuk-inset-text"><%=t('accessibility_statement.inset_text_html')%></p>

    <p><%=t('accessibility_statement.explains_text')%></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%=t('accessibility_statement.explains_list.list_item_0')%></li>
      <li><%=t('accessibility_statement.explains_list.list_item_1')%></li>
      <li><%=t('accessibility_statement.explains_list.list_item_2')%></li>
      <li><%=t('accessibility_statement.explains_list.list_item_3')%></li>
    </ul>

    <h2 class="govuk-heading-m"><%=t('accessibility_statement.usage.heading')%></h2>

    <p><%=t('accessibility_statement.usage.forms_description_html')%></p>

    <p><%=t('accessibility_statement.usage.content_guidance')%></p>

    <p><%=t('accessibility_statement.usage.accessibility_recommendations_text')%></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%=t('accessibility_statement.usage.accessibility_recommendations_list.list_item_0')%></li>
      <li><%=t('accessibility_statement.usage.accessibility_recommendations_list.list_item_1')%></li>
      <li><%=t('accessibility_statement.usage.accessibility_recommendations_list.list_item_2')%></li>
      <li><%=t('accessibility_statement.usage.accessibility_recommendations_list.list_item_3')%></li>
      <li><%=t('accessibility_statement.usage.accessibility_recommendations_list.list_item_4')%></li>
    </ul>

    <p><%=t('accessibility_statement.usage.disability_advice_html')%></p>

    <h2 class="govuk-heading-m"><%=t('accessibility_statement.limitations.heading')%></h2>

    <p><%=t('accessibility_statement.limitations.some_inaccessible_text')%></p>

    <p><%=t('accessibility_statement.limitations.forms_issues')%></p>

    <p><%=t('accessibility_statement.limitations.departmental_responsibility')%></p>

    <p><%=t('accessibility_statement.limitations.guidance')%></p>

    <h2 class="govuk-heading-m"><%=t('accessibility_statement.help.heading')%></h2>

    <p><%=t('accessibility_statement.help.email_html')%></p>

    <h2 class="govuk-heading-m"><%=t('accessibility_statement.reporting.heading')%></h2>

    <p><%=t('accessibility_statement.reporting.text')%></p>

    <p><%=t('accessibility_statement.reporting.email_html')%></p>

    <h2 class="govuk-heading-m"><%=t('accessibility_statement.complaints.heading')%></h2>

    <p><%=t('accessibility_statement.complaints.accessibility_regulations')%></p>

    <p><%=t('accessibility_statement.complaints.complaints_html')%></p>

    <h2 class="govuk-heading-m"><%=t('accessibility_statement.technical_information.heading')%></h2>

    <p><%=t('accessibility_statement.technical_information.commitment')%></p>

    <h3 class="govuk-heading-s"><%=t('accessibility_statement.technical_information.compliance_status.heading')%></h3>

    <p><%=t('accessibility_statement.technical_information.compliance_status.partial_compliance_html')%></p>

    <h2 class="govuk-heading-m"><%=t('accessibility_statement.non_accessible_content.heading')%></h2>

    <p><%=t('accessibility_statement.non_accessible_content.preamble')%></p>

    <h3 class="govuk-heading-s"><%=t('accessibility_statement.non_accessible_content.non_compliance.heading')%></h3>

    <p><%=t('accessibility_statement.non_accessible_content.non_compliance.repeated_questions')%></p>

    <p><%=t('accessibility_statement.non_accessible_content.non_compliance.resolution_timeline')%></p>

    <h3 class="govuk-heading-s"><%=t('accessibility_statement.non_accessible_content.other_problems.heading')%></h3>

    <p><%=t('accessibility_statement.non_accessible_content.other_problems.preamble')%></p>

    <ol class="govuk-list govuk-list--number">
      <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_0')%></li>
      <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_1')%></li>
      <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_2')%></li>
      <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_3')%></li>
      <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_4')%></li>
      <li>
        <%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_5.preamble')%>
        <ul>
          <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_5.list_item_0')%></li>
          <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_5.list_item_1')%></li>
          <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_5.list_item_2')%></li>
          <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_5.list_item_3')%></li>
        </ul>
      </li>
      <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_6')%></li>
      <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_7')%></li>
      <li><%=t('accessibility_statement.non_accessible_content.other_problems.other_problems_list.list_item_8')%></li>
    </ol>

    <h2 class="govuk-heading-m"><%=t('accessibility_statement.statement_preparation.heading')%></h2>

    <p><%=t('accessibility_statement.statement_preparation.date')%></p>

    <p><%=t('accessibility_statement.statement_preparation.last_tested')%></p>

    <p><%=t('accessibility_statement.statement_preparation.WCAG_version')%></p>
  </div>
</div>
