<% set_page_title(t('cookies.title'), t("gov_uk_forms")) %>

<%# Don't show the cookie banner on this page %>
<% content_for :cookie_banner do %>
  <!-- no cookie banner -->
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(CookieConsentFormComponent::View.new) do %>
      <h1 class="govuk-heading-xl"><%=t('cookies.title')%></h1>
      <p><%=t('cookies.section_0')%></p>

      <p><%=t('cookies.section_1')%></p>

      <p><%=t('cookies.section_2_html')%></p>

      <h2 class="govuk-heading-l"><%=t('cookies.essential_cookies.heading')%></h2>

      <p><%=t('cookies.essential_cookies.section_0')%></p>

      <%= govuk_table(
        classes: "govuk-table--small-text-until-tablet",
        caption: t('cookies.essential_cookies.table.caption'),
        rows: [
          [t('cookies.essential_cookies.table.row_0.column_0'), t('cookies.essential_cookies.table.row_0.column_1'), t('cookies.essential_cookies.table.row_0.column_2')],
          [t('cookies.essential_cookies.table.row_1.column_0'), t('cookies.essential_cookies.table.row_1.column_1'), t('cookies.essential_cookies.table.row_1.column_2')],
          [t('cookies.essential_cookies.table.row_2.column_0'), t('cookies.essential_cookies.table.row_2.column_1'), t('cookies.essential_cookies.table.row_2.column_2')],
        ],
        first_cell_is_header: true
      ) %>

      <% if Settings.analytics_enabled %>
        <h2 class="govuk-heading-l"><%=t('cookies.analytics_cookies.heading')%></h2>

        <p><%=t('cookies.analytics_cookies.section_0')%></p>

        <p><%=t('cookies.analytics_cookies.section_1')%></p>

        <p><%=t('cookies.analytics_cookies.section_2.caption')%></p>

        <ul class="govuk-list govuk-list--bullet">
          <li><%=t('cookies.analytics_cookies.section_2.list_item_0')%></li>
          <li><%=t('cookies.analytics_cookies.section_2.list_item_1')%></li>
          <li><%=t('cookies.analytics_cookies.section_2.list_item_2')%></li>
          <li><%=t('cookies.analytics_cookies.section_2.list_item_3')%></li>
          <li><%=t('cookies.analytics_cookies.section_2.list_item_4')%></li>
        </ul>

        <%= govuk_table(
          classes: "govuk-table--small-text-until-tablet",
          caption: t('cookies.analytics_cookies.table.caption'),
          rows: [
            [t('cookies.analytics_cookies.table.row_0.column_0'), t('cookies.analytics_cookies.table.row_0.column_1'), t('cookies.analytics_cookies.table.row_0.column_2')],
            [t('cookies.analytics_cookies.table.row_1.column_0'), t('cookies.analytics_cookies.table.row_1.column_1'), t('cookies.analytics_cookies.table.row_1.column_2')],
            [t('cookies.analytics_cookies.table.row_2.column_0'), t('cookies.analytics_cookies.table.row_2.column_1'), t('cookies.analytics_cookies.table.row_2.column_2')],
            [t('cookies.analytics_cookies.table.row_3.column_0'), t('cookies.analytics_cookies.table.row_3.column_1'), t('cookies.analytics_cookies.table.row_3.column_2')],
          ],
          first_cell_is_header: true
        ) %>
      <% end %>
    <% end %>
  </div>
</div>
