<div data-module="app-cookies-page">
  <div
        class="govuk-notification-banner govuk-notification-banner--success js-cookies-page-success"
        role="alert"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner"
        hidden=""
      >
    <div class="govuk-notification-banner__header">
      <h2
          class="govuk-notification-banner__title"
          id="govuk-notification-banner-title"
        >
        <%= t("banner.success.title") %>
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        <%= t("banner.success.cookie_preferences_updated") %>
      </p>
    </div>
  </div>

  <%= content %>

  <% if Settings.analytics_enabled %>

    <h2 class="govuk-heading-l"><%= t("cookie_consent.heading") %></h2>

    <div class="js-cookies-page__no-js-message">
      <%= t("cookie_consent.no_javascript_html") %>
    </div>

    <form class="js-cookies-page-form" hidden="" >
      <div class="govuk-form-group">
        <fieldset
          class="govuk-fieldset js-cookies-page-form-fieldset"
          id="analytics"
        >
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <%= t("cookie_consent.radios_legend") %>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-analytics" name="analytics" type="radio" value="yes" />
              <label
                class="govuk-label govuk-radios__label"
                for="radio-analytics"
                >
                <%= t("cookie_consent.options.yes") %>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-analytics-2" name="analytics" type="radio" value="no" />
              <label
                class="govuk-label govuk-radios__label"
                for="radio-analytics-2"
                >
                <%= t("cookie_consent.options.no") %>
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button
        class="govuk-button js-cookies-form-button"
        data-module="govuk-button"
      >
        <%= t("cookie_consent.save") %>
      </button>

    </form>
  <% end %>
</div>
