<% set_page_title("#{@page.question_text} - #{@form.name}") %>

<h1 class="govuk-heading-l"><%= @form.name %></h1>
<%= form_with(model: @page, url: form_page_path(@form, @page)) do |form| %>
  <% if @page&.errors.any? %>
    <%= form.govuk_error_summary %>
  <% end %>
  <%= form.govuk_text_field :text, label: { text:"Enter some text", tag: 'h3', size: 'm' }, hint: { text: 'This text will appear in the Notify integrations tab, viewable by the team' } %>
  <%= form.govuk_submit %>
<% end %>
