<%= govuk_details(summary_text: t("support_details.get_help_with_this_form")) do %>
  <% if @support_details.email.present? %>
    <h3 class="govuk-heading-s"><%= t("support_details.email") %></h3>
    <p class="govuk-body govuk-!-text-break-word">
      <%= govuk_link_to @support_details.email, "mailto:#{@support_details.email}" %>
    </p>
  <% end %>
  <% if @support_details.phone.present? %>
    <h3 class="govuk-heading-s"><%= t("support_details.phone") %></h3>
    <%= format_paragraphs(@support_details.phone) %>
    <p class="govuk-body">
      <a class="govuk-link" href="<%= @support_details.call_charges_url %>" target="_blank" rel="noopener noreferrer"><%= t("support_details.call_charges") %></a>
    </p>
  <% end %>
  <% if @support_details.url.present? && @support_details.url_text.present? %>
    <h3 class="govuk-heading-s"><%= t("support_details.online") %></h3>
    <p class="govuk-body">
      <%= govuk_link_to t("support_details.link_text", link: @support_details.url_text), @support_details.url, target:"_blank", rel: "noopener noreferrer" %>
    </p>
  <% end %>
<% end %>
