<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>GOV.UK Forms Runner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

    <%= stylesheet_link_tag "application" %>

    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
  </head>

  <body class="govuk-template__body ">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <% if @current_context.present? %>
      <%= govuk_header(service_name: @current_context.form_name) %>
    <% else %>
      <%= govuk_header %>
    <% end %>


    <div class="govuk-width-container ">
      <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
        <%= t("phase_banner.before_link") %>
        <%= govuk_link_to(t("phase_banner.link"), "mailto:govuk-forms@digital.cabinet-office.gov.uk") %>
        <%= t("phase_banner.after_link") %>
      <% end %>
      <%= yield(:before_content) %>

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <%= yield %>
      </main>
    </div>

    <% meta_links = {t("footer.accessibility_statement") => accessibility_statement_path} %>
    <% if @privacy_policy_url.present? %>
      <% meta_links[t("footer.privacy_policy")] = @privacy_policy_url %>
    <% end -%>

    <%= govuk_footer meta_items_title: t("footer.helpful_links"), meta_items: meta_links %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
