<% content_for :skip_link do %>
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link"><%= t("layout.skip_link") %></a>
<% end %>

<% content_for :header do %>
  <%= render(FormHeaderComponent::View.new(current_context: @current_context, mode: @mode)) %>
<% end %>

<% content_for :before_content do %>
  <%= render(PreviewComponent::View.new(mode: @mode, question_edit_link: @question_edit_link)) %>
  <%= yield :back_link %>
<% end %>

<% content_for :footer do %>
  <%= render(FooterComponent::View.new(mode: @mode, current_form: @current_context&.form)) %>
<% end %>

<%= render template: "layouts/base" %>
